@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Ubuntu&family=Varela+Round&display=swap");

:root{
  --a:0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  margin: 16px 0;
  width: 75vw;
  position: relative;
}

.home ul li {
  display: flex;
  width: 14px;
  gap: 15px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  width: 100%;
  gap: 15px;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 14px;
}

.heading img {
  width: 25px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  padding: 10px;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: grey;
}



.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.spotifyPlaylists h1{
  padding: 16px;
}
.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 60vh;
}

.card {
  position: relative;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #181818;
  transition: all .9s;
}

.card:hover{
  background-color: rgb(88, 84, 84);
  cursor: pointer;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  margin-right: 170px;
  opacity:var(--a);
  transition: opacity 0.5s ease-out;
}

.card:hover .play {
  opacity: 1; /* Show play icon on card hover */
}

.buttons > * {
  margin: 0 12px;
}

.signup-btn {
  background-color: rgb(34, 34, 34);
  color: #909090;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.signup-btn:hover {
  font-size: 17px;
  color: white;
}

.login-btn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  font-weight: bold;
  width: 80px;
  font-size: 17px;
  cursor: pointer;
}

.playBar {
  position: fixed;
  bottom: 20px;
  min-height: 40px;
  border-radius: 20px;
  background-color: #1db954;
  width: 60vw;
  padding: 12px;
  display: flex; /* Add flexbox */
  justify-content: center;
  align-items: center; /* Vertically center its contents */
}

.songbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.songbuttons box-icon {
  transform: scale(1.5);
}

.songList {
  height: 644px;
  overflow: auto;
}

.songList ul {
  padding: 0 12px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 5px 0;
  padding: 13px;
  border-radius: 5px;
  justify-content: space-between;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  font-size: 10px;
  width: 100px;
  padding: 3px;
}

.seekBar {
  height: 2px;
  width: 90%;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  bottom: 2px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 13px;
  position: relative;
  bottom: 9px;
  transition: left 0.5s;
}

.aboveBar {
  display: flex;
  justify-content: space-between;
}

.timenvol{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Position the volume value beside the volume icon */
.volume {
  display: flex;
  align-items: center; /* Align items vertically */
  position: relative;
}

.volumeValue {
  position: absolute;
  color: #ffffff; /* Adjust text color */
  font-size: 14px; /* Adjust font size */
}


.volumeSeekContainer {
  display: none;
  position: absolute;
  margin-left: 25px;
  width: 100px;
  z-index: 999; 
  transition: none;
}

.songinfo,
.songtime {
  flex: 1; /* Allow these elements to grow and shrink */
  padding: 0px 12px;
}

.songinfo {
  text-align: left; /* Align text to the left */
}

.songtime {
  text-align: right; /* Align text to the right */
}

#hamburger {
  display: none;
}

.cross {
  display: none;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

@media (max-width: 1400px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.3sec;
    z-index: 1;
    width: 370px;
    background-color: black;
  }
  .left .cross {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 32px;
  }

  .playBar {
    width: calc(100vw - 60px);
  }

  .seekBar {
    width: calc(100vw - 50px);
  }
  #hamburger {
    display: block;
  }

  .cardContainer {
    justify-content: center;
  }

  .card {
    width: 90vw;
  }

  .cross {
    display: block;
  }

  .aboveBar {
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }

  .right {
    width: 100vw;
    margin: 0;
  }
}


@media (max-width){
  .card{
    width: 44vw;
  }
}